*{
    box-sizing: border-box;
    --primary-color:rgb(49, 144, 245);
}

.search-container {
    background-color:rgba(237, 238, 240, .5);
    border: 1px solid rgba(199, 202, 209, 1);
    border-radius: 4px;
    padding:15px;
}
header{
    background-color:rgb(59, 65, 69);
    color:white;
    padding: 15px;
    text-align: center;
    margin: 0 0 20px 0;

}
.search-btn{
    background-color:var(--primary-color);
}
.weather{
    padding:15px;
    margin:0 15px;
    border:1px solid rgba(199, 202, 209, 1);
    border-radius: 4px;
}
.five-day{
    padding:15px;
    margin: 0 15px;
}

.card{
    background-color:var(--primary-color);
    margin: 10px;
    font-size: 10pt;
}
.input-group-append{
    display: inline;
}
.btn{
    margin: 3px;
}
